<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sticky Notes</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="container">
    <!-- Sticky Notes Section -->
    <div class="sticky-notes">
      <div class="note-container">
        <div class="note-content" contenteditable>
          Create Sticky Note Using HTML, CSS, and JavaScript.
        </div>
        <div class="note-actions">
          <button class="delete-note" onclick="deleteNote(this)">Delete</button>
        </div>
      </div>

      <!-- First CI/CD Note -->
      <div class="note-container">
        <div class="note-content" contenteditable="false">
          This project involves a CI/CD pipeline implemented using GitHub Actions for automated deployment.
        </div>
        <div class="note-actions">
          <button class="delete-note" onclick="deleteNote(this)">Delete</button>
        </div>
      </div>

      <!-- Second CI/CD Note -->
      <div class="note-container">
        <div class="note-content" contenteditable="false">
          It's hosted using Azure Web App to ensure continuous delivery and easy scaling.
        </div>
        <div class="note-actions">
          <button class="delete-note" onclick="deleteNote(this)">Delete</button>
        </div>
      </div>
    </div>

    <div class="create-note" title="New Notes" onclick="createNote()">+</div>

    <script>
      function createNote() {
        const stickyNotes = document.querySelector('.sticky-notes');
        const noteContainer = document.createElement('div');
        noteContainer.classList.add('note-container');

        const noteContent = document.createElement('div');
        noteContent.classList.add('note-content');
        noteContent.contentEditable = true;
        noteContent.textContent = 'New note';

        const noteActions = document.createElement('div');
        noteActions.classList.add('note-actions');
        const deleteButton = document.createElement('button');
        deleteButton.classList.add('delete-note');
        deleteButton.textContent = 'Delete';
        deleteButton.onclick = function () {
          noteContainer.remove();
        };

        noteActions.appendChild(deleteButton);
        noteContainer.appendChild(noteContent);
        noteContainer.appendChild(noteActions);
        stickyNotes.appendChild(noteContainer);
      }

      function deleteNote(button) {
        const noteContainer = button.closest('.note-container');
        noteContainer.remove();
      }
    </script>
</body>

</html>